* {
  margin: 0;
  /* padding: 0;
  border: 0; */
  vertical-align: baseline;
  font-family: Arial, Helvetica, sans-serif;
}

h1, h2, h3, p {
  margin-block-end: 0.5em;
}

#root {
  margin: 1em;
  flex-direction: column;
  display: flex;
}

.home-form {
  display: flex;
  flex-direction: column;
}

button {
  max-width: 200px;
  cursor: pointer;
}

input {
  max-width: 200px;
}

/* Charity card CSS */
.charity-object {
  display: flex;
  flex-direction: column;
  padding: 1em;
  height: 50%;
  background-color: #c5c5c5;
  width: fit-content;
  margin: 1em;
}